.mainLayout {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

  nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .socialLinks {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;

      &:hover {
        border: 2px solid var(--color-primary);
        color: var(--color-text-light);
      }
    }
  }
}

/* components */

.navigationItem {
  position: relative;
  cursor: pointer;

  p {
    font-size: 0.9rem;
    font-weight: 500;
    /* color: var(--color-text-muted); */
    color: white;
  }

  .underline {
    position: absolute;
    content: "";
    background-color: var(--color-primary);
    width: 65%;
    height: 3px;
    border-radius: 32px;
    animation: grow 0.35s ease-in-out forwards;
  }

  &:hover {
    p {
      color: var(--color-primary);
    }
  }
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}
