.heroSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .swiper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiperSlide {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .cover {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: hsla(0, 100%, 0%, 0.3);
    z-index: 10;
  }

  .content {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-inline: clamp(1rem, 0.75rem + 0.2vw, 10rem);
    z-index: 15;

    h1 {
      font-size: clamp(5rem, 0.75rem + 0.2vw, 5rem);
      font-weight: 800;
      color: var(--color-text-light);
      line-height: 5rem;
      text-align: center;
    }

    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: var(--color-text-light);
      text-align: center;
    }

    .cta {
      padding: 16px 32px;
      background: var(--color-primary);
      border: none;
      border-radius: 0.35rem;
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
    }
  }
}

.whoWeAre {
  width: 100dvw !important;
  min-height: 100dvh !important;
  padding-block: 4rem;
  padding-inline: clamp(1rem, 0.75rem + 0.2vw, 10rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  flex-wrap: wrap;

  .content {
    flex: 1 1 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .line {
        width: 50px;
        height: 3px;
        border-radius: 32px;
        background: var(--color-primary);
      }

      h3 {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
      }
    }

    h2 {
      padding-left: calc(50px + 0.5rem);
      font-size: 2.5rem;
      line-height: 3rem;
      font-weight: 600;
    }

    .text {
      padding-left: calc(50px + 0.5rem);
      font-size: 1rem;
      font-weight: 400;
      margin-block: 1.5rem;
    }

    .cta {
      margin-left: calc(50px + 0.5rem);
      width: fit-content;
      padding: 0.7rem 2rem;
      background: var(--color-primary);
      color: white;
      border: none;
      border-radius: 0.35rem;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;

      &:active {
        transform: scale(0.98);
      }

      &:hover {
        background: var(--color-primary-hover);
      }
    }
  }

  .media {
    width: 500px;
    height: 500px;
    border-radius: 0.9rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
